[2018-04-11 00:55] GitCash opened #1 "Invite requests"
You know the drill

[2018-04-11 03:13] alwaysAn0n commented on #1
@GitCash invite @block-spider please

--------- GitCash Tip Bot ---------
Hey @block-spider !
alwaysAn0n has invited you to help us beta test GitCash.io !

GitCash is a Bitcoin Cash tipping platform for Github.

Your account is all set up and ready for you at https://gitcash.io/login/

Bitcoin Cash is an upgrade to the Bitcoin network that restores it&#39;s use as peer to peer digital cash.

Join

[2018-04-11 03:17] alwaysAn0n commented on #1
@GitCash invite @singularity87 @CreativeName4 @checksum0

--------- GitCash Tip Bot ---------
Hey @singularity87,@CreativeName4,@checksum0 !
alwaysAn0n has invited you to help us beta test GitCash.io !

GitCash is a Bitcoin Cash tipping platform for Github.

Your account is all set up and ready for you at https://gitcash.io/login/

Bitcoin Cash is an upgrade to the Bitcoin network that restores it

[2018-04-11 03:23] alwaysAn0n commented on #1
@GitCash please invite @zander and @AlexEiden

--------- GitCash Tip Bot ---------
Hey @zander,@AlexEiden !
alwaysAn0n has invited you to help us beta test GitCash.io !

GitCash is a Bitcoin Cash tipping platform for Github.

Your account is all set up and ready for you at https://gitcash.io/login/

Bitcoin Cash is an upgrade to the Bitcoin network that restores it&#39;s use as peer to peer digita

[2018-04-11 03:39] alwaysAn0n commented on #1
@GitCash invite our friend @bitbobb please

--------- GitCash Tip Bot ---------
Hey @bitbobb !
alwaysAn0n has invited you to help us beta test GitCash.io !

GitCash is a Bitcoin Cash tipping platform for Github.

Your account is all set up and ready for you at https://gitcash.io/login/

Bitcoin Cash is an upgrade to the Bitcoin network that restores it&#39;s use as peer to peer digital cash.

Join

[2018-04-11 04:51] alwaysAn0n commented on #1
@GitCash invite @AshleyMSherwood with 1000 bits!

--------- GitCash Tip Bot ---------
Hey @AshleyMSherwood !
alwaysAn0n has sent you 1000 bits in Bitcoin Cash (~ $ 0.65 )

Follow the link to claim it at

https://gitcash.io/claim/AshleyMSherwood

You were also invited to be a GitCash.io beta tester!  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin network that restores it&#3

[2018-04-11 15:28] alwaysAn0n commented on #1
@GitCash send @block-spider @singularity87 @CreativeName4 @checksum0 @Bitbobb @zander and @AlexEiden 1000 bits each!

--------- GitCash Tip Bot ---------
Hey @block-spider,@singularity87,@CreativeName4,@checksum0,@Bitbobb,@zander,@AlexEiden !
alwaysAn0n has sent you 1000 bits in Bitcoin Cash (~ $ 0.653 )

Follow the link to claim it at

https://gitcash.io/claim/block-spider

https://gitcash.io/cla

[2018-04-11 20:53] alwaysAn0n opened #2 "Tipping playground"
Tip away!

[2018-04-11 21:14] alwaysAn0n commented on #2
Hey @GitCash please send @block-spider 5000 satoshis

--------- GitCash Tip Bot ---------
Hey @block-spider !
alwaysAn0n has sent you 5000 satoshis in Bitcoin Cash (~ $ 0.0325 )

Follow the link to claim it at

https://gitcash.io/claim/block-spider

  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin network that restores it&#39;s use as peer to peer digital cash.

Join the r

[2018-04-13 13:08] alwaysAn0n commented on #2
@GitCash please invite @acelerationist and give him 2000 satoshis!

--------- GitCash Tip Bot ---------
Hey @acelerationist !
alwaysAn0n has sent you 2000 satoshis in Bitcoin Cash (~ $ 0.0155 )

Follow the link to claim it at

https://gitcash.io/claim/acelerationist

You were also invited to be a GitCash.io beta tester!  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin netwo

[2018-04-13 13:20] alwaysAn0n commented on #2
@GitCash please send @acelerationist 20000 satoshis

--------- GitCash Tip Bot ---------
Hey @acelerationist !
alwaysAn0n has sent you 20000 satoshis in Bitcoin Cash (~ $ 0.1554 )

Follow the link to claim it at

https://gitcash.io/claim/acelerationist

  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin network that restores it&#39;s use as peer to peer digital cash.

Join t

[2018-04-17 18:25] zander opened #3 "Permissions and scope"
After chatting a little about this project on discord I want to raise an issue about two things.

The signup is personal. Anyone that signs up will get their 'tip' comments acted on. I recall you said that you intend to update the comment with status as it goes on.

The permissions you are require to grant the app are a bit too much for me.

![screenshot_20180417_194645](https://user-images.github

[2018-04-17 18:50] alwaysAn0n commented on #3
Thanks for the input @zander .  Here's a little more information on the topic which I've already given you and I'm a bit surprised you didn't include in this issue so users understand the constraints we're building under.

Sadly Github's API leaves a lot to be desired.  The app needs to be able to read the comments made by a user in both public and private repos.  It also needs to be able to updat

[2018-04-17 21:58] alwaysAn0n commented on #2
@GitCash please invite @lte13 and give them 50000 satoshis to play with

--------- GitCash Tip Bot ---------
Hey @lte13 !
alwaysAn0n has sent you 50000 satoshis in Bitcoin Cash (~ $ 0.3815 )

Follow the link to claim it at

https://gitcash.io/claim/lte13

You were also invited to be a GitCash.io beta tester!  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin network that rest

[2018-04-17 22:04] alwaysAn0n commented on #2
Hey @GitCash .  Please send @hiragashi 100000 satoshis and invite them to join us

--------- GitCash Tip Bot ---------
Hey @hiragashi !
alwaysAn0n has invited you to help us beta test GitCash.io !

GitCash is a Bitcoin Cash tipping platform for Github.

Your account is all set up and ready for you at https://gitcash.io/login/

Bitcoin Cash is an upgrade to the Bitcoin network that restores it&#39;

[2018-04-17 22:43] alwaysAn0n commented on #2
@GitCash invite @marfoldi and give them 100000 satoshis to play with.

--------- GitCash Tip Bot ---------
Hey @marfoldi !
alwaysAn0n has sent you 100000 satoshis in Bitcoin Cash (~ $ 0.761 )

Follow the link to claim it at

https://gitcash.io/claim/marfoldi

You were also invited to be a GitCash.io beta tester!  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin network that

[2018-04-17 23:14] alwaysAn0n commented on #2
@GitCash please invite @Quartzic and give them 150000 satoshis to spend

--------- GitCash Tip Bot ---------
Hey @Quartzic !
alwaysAn0n has sent you 150000 satoshis in Bitcoin Cash (~ $ 1.137 )

Follow the link to claim it at

https://gitcash.io/claim/Quartzic

You were also invited to be a GitCash.io beta tester!  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin network tha

[2018-04-18 05:42] alwaysAn0n commented on #1
@GitCash invite @TauBone and give them 150000 satoshis to spend

[2018-04-18 05:49] alwaysAn0n commented on #1
@GitCash invite @TauBone and give them 150000 satoshis to spend

[2018-04-18 05:50] alwaysAn0n commented on #1
@GitCash invite @TauBone with 1000 bits!

[2018-04-18 06:01] alwaysAn0n commented on #1
@GitCash send @block-spider 500 bits

--------- GitCash Tip Bot ---------
Hey @block-spider !
alwaysAn0n has sent you 500 bits in Bitcoin Cash (~ $ 0.3865 )

Follow the link to claim it at

https://gitcash.io/claim/block-spider

  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin network that restores it&#39;s use as peer to peer digital cash.

Join the rebellion in r/btc
---

[2018-04-18 06:07] alwaysAn0n commented on #2
@GitCash send @TauBone 150000 satoshis

--------- GitCash Tip Bot ---------
Hey @TauBone !
alwaysAn0n has sent you 150000 satoshis in Bitcoin Cash (~ $ 1.1595 )

Follow the link to claim it at

https://gitcash.io/claim/TauBone

  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin network that restores it&#39;s use as peer to peer digital cash.

Join the rebellion in r/btc
----

[2018-04-18 06:13] alwaysAn0n commented on #1
@GitCash invite @imcoddy with 100000 satoshis !

--------- GitCash Tip Bot ---------
Hey @imcoddy !
alwaysAn0n has sent you 100000 satoshis in Bitcoin Cash (~ $ 0.774 )

Follow the link to claim it at

https://gitcash.io/claim/imcoddy

You were also invited to be a GitCash.io beta tester!  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin network that restores it&#39;s use as

[2018-04-18 06:25] alwaysAn0n commented on #1
@GitCash invite @i14g  @cyio @ardiya @supercody and @TheTRUEHoohah with 100000 satoshis !

[2018-04-18 06:30] alwaysAn0n commented on #1
@GitCash invite @i14g @ardiya @supercody and @TheTRUEHoohah with 100000 satoshis !

--------- GitCash Tip Bot ---------
Hey @i14g,@ardiya,@supercody,@TheTRUEHoohah !
alwaysAn0n has sent you 100000 satoshis in Bitcoin Cash (~ $ 0.775 )

Follow the link to claim it at

https://gitcash.io/claim/i14g

https://gitcash.io/claim/ardiya

https://gitcash.io/claim/supercody

https://gitcash.io/claim/TheTRUE

[2018-04-18 06:33] alwaysAn0n commented on #2
@GitCash send @cyio @JustinAiken 100000 satoshis

--------- GitCash Tip Bot ---------
Hey @cyio,@JustinAiken !
alwaysAn0n has sent you 100000 satoshis in Bitcoin Cash (~ $ 0.777 )

Follow the link to claim it at

https://gitcash.io/claim/cyio

https://gitcash.io/claim/JustinAiken

  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin network that restores it&#39;s use as peer t

[2018-04-18 13:50] chlaudon commented on #3
I'd love to use this but I can't possibly give access to private repos.

[2018-04-18 14:12] alwaysAn0n commented on #1
@GitCash please invite @lubokkanev with 100000 satoshis !

[2018-04-18 16:31] alwaysAn0n commented on #1
@GitCash please invite @cashaddressio and give them 120000 satoshis

[2018-04-18 16:36] alwaysAn0n commented on #1
@GitCash send @block-spider 500 bits

[2018-04-18 16:37] alwaysAn0n commented on #1
@GitCash send @block-spider 500 bits

--------- GitCash Tip Bot ---------
Hey @block-spider !
alwaysAn0n has sent you 500 bits in Bitcoin Cash (~ $ 0.429 )

Follow the link to claim it at

https://gitcash.io/claim/block-spider

  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin network that restores it&#39;s use as peer to peer digital cash.

Join the rebellion in r/btc
----

[2018-04-18 16:37] alwaysAn0n commented on #1
@GitCash please invite @cashaddressio and give them 120000 satoshis

--------- GitCash Tip Bot ---------
Hey @cashaddressio !
alwaysAn0n has sent you 120000 satoshis in Bitcoin Cash (~ $ 1.0296 )

Follow the link to claim it at

https://gitcash.io/claim/cashaddressio

You were also invited to be a GitCash.io beta tester!  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin netw

[2018-04-18 16:38] alwaysAn0n commented on #1
@GitCash please invite @lubokkanev with 100000 satoshis !

--------- GitCash Tip Bot ---------
Hey @lubokkanev !
alwaysAn0n has sent you 100000 satoshis in Bitcoin Cash (~ $ 0.858 )

Follow the link to claim it at

https://gitcash.io/claim/lubokkanev

You were also invited to be a GitCash.io beta tester!  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin network that restores

[2018-04-19 13:25] alwaysAn0n commented on #1
@GitCash invite @hegjon with 150000 satoshis !!

--------- GitCash Tip Bot ---------
Hey @hegjon !
alwaysAn0n has sent you 150000 satoshis in Bitcoin Cash (~ $ 1.4055 )

Follow the link to claim it at

https://gitcash.io/claim/hegjon

You were also invited to be a GitCash.io beta tester!  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin network that restores it&#39;s use as

[2018-04-19 16:13] alwaysAn0n commented on #1
@GitCash please invite @Wecx with 250000 satoshis

--------- GitCash Tip Bot ---------
Hey @Wecx !
alwaysAn0n has sent you 250000 satoshis in Bitcoin Cash (~ $ 2.375 )

Follow the link to claim it at

https://gitcash.io/claim/Wecx

You were also invited to be a GitCash.io beta tester!  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin network that restores it&#39;s use as pee

[2018-04-19 16:17] alwaysAn0n commented on #2
@GitCash please send @imaginaryusername 200000 satoshis to play with

--------- GitCash Tip Bot ---------
Hey @imaginaryusername !
alwaysAn0n has sent you 200000 satoshis in Bitcoin Cash (~ $ 1.904 )

Follow the link to claim it at

https://gitcash.io/claim/imaginaryusername

  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin network that restores it&#39;s use as peer to pee

[2018-04-20 16:38] alwaysAn0n commented on #3
After a lot of thought, I've decided to make the changes proposed by @zander .  I believe this change will allow use to serve more users while simultaneously reducing GitCash's data liability.

@GitCash please give @zander .01 bch as a thank you

--------- GitCash Tip Bot ---------
Hey @zander !
alwaysAn0n has sent you 0.01 bch in Bitcoin Cash (~ $ 10.89 )

Follow the link to claim it at

https://

[2018-04-20 19:03] zander commented on #3
As this post was about me not being able to sign up with the current design, did you just give me a tip I can't claim without signing up?

Please consider using the donations address here instead: http://flowee.org/donations/

[2018-04-20 19:12] block-spider commented on #3
Here you go @zander @chaintip. On behalf of @alwaysAn0n, until they implement their new system. Looking forward to seeing the evolution of GitCash!

Link your flowee donation address, then others can 'donate' to flowee, if they happen to chaintip you in future.

[2018-04-20 19:12] chaintip commented on #3
@zander has [claimed](https://explorer.bitcoin.com/bch/address/bitcoincash:qqh0ld4dvzgtth3juh97u4tm8sljtwcx5qeaf5l0kn) the `0.01 BCH`| `~  11.22 USD` sent by @block-spider via [chaintip](http://www.chaintip.org).

[2018-04-20 19:24] zander commented on #3
Thanks block-spider! Claimed it quite painless :)

[2018-04-25 06:39] alwaysAn0n commented on #2
@GitCash send 550 bits to @lukeheath pretty please

[2018-04-25 06:39] GitCash commented on #2
Hey @lukeheath !
alwaysAn0n has sent you 550 bits in Bitcoin Cash (~ $ 0.7387 )

Follow the link to claim it at

https://gitcash.io/claim/lukeheath

  Follow the link and join us!

Bitcoin Cash is an upgrade to the Bitcoin network that restores it&#39;s use as peer to peer digital cash.

Join the rebellion in r/btc

[2018-04-25 06:49] alwaysAn0n commented on #3
@zander GitCash now only requires the "Personal user data" scope and it functions like you suggested.  Thanks for the feedback.  You can claim your tip now.

[2018-04-26 08:44] zander commented on #3
Thank you for the update.

As granting you write access to my email address means anyone controlling the app can reset my password to a new email address and again do everything I can on this site its effectively still to risky for me to sign up.

[2018-05-08 19:03] alwaysAn0n commented on #2
Hey @GotCrabs please send @block-spider 5000 satoshis

[2018-05-08 19:03] GotCrabs commented on #2
![GitCash Tip Response](https://gitcash-staging.herokuapp.com/tip/pic/36/image.png)
@block-spider

[2018-06-15 21:27] alwaysAn0n commented on #2
@GotCrabs send @Wecx 101010 satoshis please

[2018-06-15 21:27] GotCrabs commented on #2
[![GitCash Tip Response](https://gitcash-staging.herokuapp.com/tip/pic/22/image.png)](https://gitcash-staging.herokuapp.com/claim/Wecx)
@Wecx

[2018-06-15 21:52] ghost opened #4 "Auto-refunding of unclaimed tips"
The option of receiving a tip refund after an unspecified amount of time elapses e.g. one month.

[2018-06-15 22:20] alwaysAn0n commented on #2
@GotCrabs send @imaginaryusername .0015 bch please

[2018-06-15 22:20] GotCrabs commented on #2
[![GitCash Tip Response](https://gitcash-staging.herokuapp.com/tip/pic/23/image.png)](https://gitcash-staging.herokuapp.com/claim/imaginaryusername)
@imaginaryusername

[2018-06-15 22:32] imaginaryusername commented on #2
woohoo i got monies i guess
@GotCrabs send @alwaysAn0n 0.0005 BCH

[2018-06-15 23:13] alwaysAn0n commented on #2
@GotCrabs send @imaginaryusername .0008 bch please

[2018-06-15 23:13] GotCrabs commented on #2
[![GitCash Tip Response](https://gitcash-staging.herokuapp.com/tip/pic/24/image.png)](https://gitcash-staging.herokuapp.com/claim/imaginaryusername)
@imaginaryusername

[2018-06-20 04:10] alwaysAn0n commented on #2
@GitCash please send @RX7RUSS and @RUSSTEST 200 bits each!

[2018-06-20 04:10] GitCash commented on #2
[![GitCash Tip Response](https://gitcash.io/tip/pic/2/image.png)](https://gitcash.io/)
@RX7RUSS,@RUSSTEST

[2018-06-20 04:10] GitCash commented on #2
[![GitCash Tip Response](https://gitcash.io/tip/pic/3/image.png)](https://gitcash.io/)
@RX7RUSS,@RUSSTEST

[2018-06-20 16:33] GitCash commented on #3
Closing this since the main concerns have been addressed.  Feel free to reopen if the email address concern persists and you genuinely want to use GitCash.

[2018-06-20 16:33] #3 closed, assigned to nobody

[2018-06-20 16:33] GitCash commented on #1
Public beta is over and everyone is now free to sign up without invitation.

[2018-06-20 16:33] #1 closed, assigned to nobody

[2018-06-20 16:34] GitCash commented on #2
Closing in favor of new tipping thread

[2018-06-20 16:34] #2 closed, assigned to nobody

[2018-06-20 16:36] GitCash opened #5 "Come get your tips!"
ITT: Makin' it rain Bitcoin Cash

[2018-06-20 22:11] alwaysAn0n commented on #5
@GitCash send .03 bch to my friend @JLMoriart please!

[2018-06-20 22:12] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/7/image.png)](https://gitcash.io/claim/JLMoriart)
@JLMoriart

[2018-06-21 00:05] alwaysAn0n commented on #3
Immediately after closing this we discovered that there actually is a "read only" scope for user.  We made the change and pushed it to production.  You're safe now @zander

@GitCash send @zander .01 bch

[2018-06-21 00:05] GitCash commented on #3
[![GitCash Tip Response](https://gitcash.io/tip/pic/8/image.png)](https://gitcash.io/claim/zander)
@zander

[2018-06-21 05:23] alwaysAn0n commented on #5
@GitCash send @JustinAiken 5916722 satoshis !

Welcome to GitCash Justin!

[2018-06-21 05:23] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/9/image.png)](https://gitcash.io/claim/JustinAiken)
@JustinAiken

[2018-06-21 06:09] alwaysAn0n commented on #5
@GitCash send @AlexEiden 100000 satoshis !

Welcome to GitCash!

[2018-06-21 06:09] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/10/image.png)](https://gitcash.io/claim/AlexEiden)
@AlexEiden

[2018-06-21 06:10] alwaysAn0n commented on #5
@GitCash send @Bitbobb 100000 satoshis !

Welcome to GitCash!

[2018-06-21 06:10] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/11/image.png)](https://gitcash.io/claim/Bitbobb)
@Bitbobb

[2018-06-21 06:10] alwaysAn0n commented on #5
@GitCash send @KallunaLovegood 800000 satoshis !

Welcome to GitCash!

[2018-06-21 06:10] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/12/image.png)](https://gitcash.io/claim/KallunaLovegood)
@KallunaLovegood

[2018-06-21 06:10] alwaysAn0n commented on #5
@GitCash send @AshleyMSherwood 6000000 satoshis !

Welcome to GitCash!

[2018-06-21 06:10] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/13/image.png)](https://gitcash.io/claim/AshleyMSherwood)
@AshleyMSherwood

[2018-06-21 06:13] alwaysAn0n commented on #5
@GitCash send @irlnathan 500000 satoshis !

Welcome to GitCash!

[2018-06-21 06:13] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/14/image.png)](https://gitcash.io/claim/irlnathan)
@irlnathan

[2018-06-21 06:15] alwaysAn0n commented on #5
@GitCash send @acelerationist 500000 satoshis !

Welcome to GitCash!

[2018-06-21 06:15] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/15/image.png)](https://gitcash.io/claim/acelerationist)
@acelerationist

[2018-06-21 06:16] alwaysAn0n commented on #5
@GitCash send @rachaelshaw 500000 satoshis !

Welcome to GitCash!

[2018-06-21 06:16] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/16/image.png)](https://gitcash.io/claim/rachaelshaw)
@rachaelshaw

[2018-06-21 06:31] alwaysAn0n commented on #5
@GitCash send @seanwarman 1000000 satoshis !

Welcome to GitCash!

[2018-06-21 06:31] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/17/image.png)](https://gitcash.io/claim/seanwarman)
@seanwarman

[2018-06-21 06:32] alwaysAn0n commented on #5
@GitCash send @lukeheath 1009530 satoshis !

Welcome to GitCash!

[2018-06-21 06:32] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/18/image.png)](https://gitcash.io/claim/lukeheath)
@lukeheath

[2018-06-21 06:32] alwaysAn0n commented on #5
@GitCash send @checksum0 100000 satoshis !

Welcome to GitCash!

[2018-06-21 06:32] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/19/image.png)](https://gitcash.io/claim/checksum0)
@checksum0

[2018-06-21 06:32] alwaysAn0n commented on #5
@GitCash send @CreativeName4 50000 satoshis !

Welcome to GitCash!

[2018-06-21 06:33] alwaysAn0n commented on #5
@GitCash send @singularity87 100000 satoshis !

Welcome to GitCash!

[2018-06-21 06:33] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/20/image.png)](https://gitcash.io/claim/singularity87)
@singularity87

[2018-06-21 06:33] alwaysAn0n commented on #5
@GitCash send @block-spider 199000 satoshis !

Welcome to GitCash!

[2018-06-21 06:33] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/21/image.png)](https://gitcash.io/claim/block-spider)
@block-spider

[2018-06-21 06:33] alwaysAn0n commented on #5
@GitCash send @mikermcneil 100000 satoshis !

Welcome to GitCash!

[2018-06-21 06:33] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/22/image.png)](https://gitcash.io/claim/mikermcneil)
@mikermcneil

[2018-06-21 06:33] alwaysAn0n commented on #5
@GitCash send @RX7RUSS 350000 satoshis !

Welcome to GitCash!

[2018-06-21 06:33] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/23/image.png)](https://gitcash.io/claim/RX7RUSS)
@RX7RUSS

[2018-06-21 06:33] alwaysAn0n commented on #5
@GitCash send @Quartzic 150000 satoshis !

Welcome to GitCash!

[2018-06-21 06:34] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/24/image.png)](https://gitcash.io/claim/Quartzic)
@Quartzic

[2018-06-21 06:34] alwaysAn0n commented on #5
@GitCash send @marfoldi 100000 satoshis !

Welcome to GitCash!

[2018-06-21 06:34] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/25/image.png)](https://gitcash.io/claim/marfoldi)
@marfoldi

[2018-06-21 06:34] alwaysAn0n commented on #5
@GitCash send @lte13 100000 satoshis !

Welcome to GitCash!

[2018-06-21 06:34] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/26/image.png)](https://gitcash.io/claim/lte13)
@lte13

[2018-06-21 11:29] zander commented on #3
Thanks for the tip!

And I'm very happy that my complaining was somehow useful to lead you to the service maturing into what it is today :)

After Microsoft acquired GitHub I opened this [issue](https://github.com/floweethehub/hub/issues/2), a gitlab compatible 'gitcash' service may be useful.

[2018-06-21 16:22] seanwarman commented on #5
Hey @GitCash tip @tj 381960 satoshis for all his great work on Express and exciting recent project Apex.

[2018-06-21 16:22] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/27/image.png)](https://gitcash.io/claim/tj)
@tj

[2018-06-21 16:25] seanwarman commented on #5
Yo @GitCash give 381960 satoshis to @yyx990803 for making Vue.js the best JS framework there is!

[2018-06-21 16:25] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/28/image.png)](https://gitcash.io/claim/yyx990803)
@yyx990803

[2018-06-21 16:29] seanwarman commented on #5
Hey @GitCash pay @sindresorhus 381960 satoshis for making some of the best open source apps around. ps. mucho love for Gifski.

[2018-06-21 16:29] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/29/image.png)](https://gitcash.io/claim/sindresorhus)
@sindresorhus

[2018-06-21 16:33] seanwarman commented on #5
@GitCash tip 381960 satoshis to @zcbenz for his great work on the Atom editor, which is awesome!

[2018-06-21 16:34] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/30/image.png)](https://gitcash.io/claim/zcbenz)
@zcbenz

[2018-06-21 16:48] seanwarman commented on #5
@GitCash give @rauchg 381960 satoshis for his excellent micro tools.

[2018-06-21 16:48] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/31/image.png)](https://gitcash.io/claim/rauchg)
@rauchg

[2018-06-21 16:51] seanwarman commented on #5
@GitCash send 381960 satoshis to @laanwj for his great work at Bitcoin XT.

[2018-06-21 16:51] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/32/image.png)](https://gitcash.io/claim/laanwj)
@laanwj

[2018-06-21 16:53] seanwarman commented on #5
@GitCash give another 381960 satoshis to @laanwj for his work at Bitcoin Unlimited!

[2018-06-21 16:53] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/33/image.png)](https://gitcash.io/claim/laanwj)
@laanwj

[2018-06-21 16:58] seanwarman commented on #5
@GitCash send 381960 satoshis to @indutny for his work on one the best named node protocols going!

[2018-06-21 16:58] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/34/image.png)](https://gitcash.io/claim/indutny)
@indutny

[2018-06-21 17:00] seanwarman commented on #5
@GitCash pay @diracdeltas 381960 satoshis for working on Brave, which is the most exciting new browser to hit the internet.

[2018-06-21 17:00] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/35/image.png)](https://gitcash.io/claim/diracdeltas)
@diracdeltas

[2018-06-21 17:03] seanwarman commented on #5
@GitCash give @jserv 381960 satoshis for showing people how exciting it is to build with build-your-own-x

[2018-06-21 17:04] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/36/image.png)](https://gitcash.io/claim/jserv)
@jserv

[2018-06-21 17:06] seanwarman commented on #5
@GitCash send our old buddy @mikermcneil 381960 satoshis for the best framework there is, Sails.js!

[2018-06-21 17:06] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/37/image.png)](https://gitcash.io/claim/mikermcneil)
@mikermcneil

[2018-06-21 17:10] seanwarman commented on #5
@GitCash send 381960 satoshis to @HelloZeroNet for some really exciting new tech!

[2018-06-21 17:10] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/38/image.png)](https://gitcash.io/claim/HelloZeroNet)
@HelloZeroNet

[2018-06-21 17:12] seanwarman commented on #5
@GitCash send 381960 satoshis to @samaaron for his brilliant music app sonic-pi.

[2018-06-21 17:12] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/39/image.png)](https://gitcash.io/claim/samaaron)
@samaaron

[2018-06-21 17:13] seanwarman commented on #5
@GitCash send 381960 satoshis to @maraoz for some great movement in the crypto space.

[2018-06-21 17:13] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/40/image.png)](https://gitcash.io/claim/maraoz)
@maraoz

[2018-06-21 17:16] seanwarman commented on #5
@GitCash send 381960 satoshis to @trekhleb for his work in opening up the coding world.

[2018-06-21 17:16] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/41/image.png)](https://gitcash.io/claim/trekhleb)
@trekhleb

[2018-06-21 17:17] seanwarman commented on #5
@GitCash send 381960 satoshis to @caesar0301 for some seriously awesome lists.

[2018-06-21 17:17] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/42/image.png)](https://gitcash.io/claim/caesar0301)
@caesar0301

[2018-06-21 17:19] seanwarman commented on #5
@GitCash send 381960 satoshis to @maran for some excellent work in the crypto space.

[2018-06-21 17:19] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/43/image.png)](https://gitcash.io/claim/maran)
@maran

[2018-06-21 17:21] seanwarman commented on #5
@GitCash send 381960 satoshis to @tschellenbach because everybody loves podcasts!

[2018-06-21 17:21] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/44/image.png)](https://gitcash.io/claim/tschellenbach)
@tschellenbach

[2018-06-21 17:24] seanwarman commented on #5
@GitCash send 381960 satoshis to @leto for his work in the crypto space.

[2018-06-21 17:24] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/45/image.png)](https://gitcash.io/claim/leto)
@leto

[2018-06-21 17:25] seanwarman commented on #5
@GitCash send 381960 satoshis to @martindale for his work in the crypto space.

[2018-06-21 17:25] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/46/image.png)](https://gitcash.io/claim/martindale)
@martindale

[2018-06-21 17:27] seanwarman commented on #5
@GitCash send 381960 satoshis to @prusnak , please update Trezor to accept the Cashaddr format!

[2018-06-21 17:27] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/47/image.png)](https://gitcash.io/claim/prusnak)
@prusnak

[2018-06-21 17:29] seanwarman commented on #5
@GitCash send 381960 satoshis to @abrkn for his excellent work in the crypto space.

[2018-06-21 17:29] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/48/image.png)](https://gitcash.io/claim/abrkn)
@abrkn

[2018-06-21 17:30] seanwarman commented on #5
@GitCash send 381960 satoshis to @matiu for his great work in the BCH camp!

[2018-06-21 17:30] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/49/image.png)](https://gitcash.io/claim/matiu)
@matiu

[2018-06-21 17:32] seanwarman commented on #5
@GitCash send 381960 satoshis to @deepthawtz brought to you by Bitbox-Cli :)

[2018-06-21 17:32] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/50/image.png)](https://gitcash.io/claim/deepthawtz)
@deepthawtz

[2018-06-21 17:33] seanwarman commented on #5
@GitCash send 381960 satoshis to @AllienWorks cos everybody loves crypto icons!

[2018-06-21 17:33] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/51/image.png)](https://gitcash.io/claim/AllienWorks)
@AllienWorks

[2018-06-21 17:35] seanwarman commented on #5
@GitCash send 381960 satoshis to @T-Pham for a brilliant implementation of the (otherwise useless) macbook touch bar. Please make some more :)

[2018-06-21 17:35] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/52/image.png)](https://gitcash.io/claim/T-Pham)
@T-Pham

[2018-06-21 17:37] seanwarman commented on #5
@GitCash send 381960 satoshis to @sickpig for his great work in the crypto space.

[2018-06-21 17:37] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/53/image.png)](https://gitcash.io/claim/sickpig)
@sickpig

[2018-06-21 17:38] seanwarman commented on #5
@GitCash send 381960 satoshis to @dsmurrell for his awesome awesome-bitcoin-cash list which is totally awesome.

[2018-06-21 17:38] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/54/image.png)](https://gitcash.io/claim/dsmurrell)
@dsmurrell

[2018-06-21 17:51] seanwarman commented on #5
@GitCash send 381960 satoshis to @benjamn because the more javascript the better!

[2018-06-21 17:51] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/55/image.png)](https://gitcash.io/claim/benjamn)
@benjamn

[2018-06-21 17:55] seanwarman commented on #5
@GitCash send 381960 satoshis to @jeresig because evrybody loves jquery.

[2018-06-21 17:55] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/56/image.png)](https://gitcash.io/claim/jeresig)
@jeresig

[2018-06-21 17:56] seanwarman commented on #5
@GitCash send 0.00375429 bch to @jeresig because everybody loves jquery.

[2018-06-21 17:56] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/57/image.png)](https://gitcash.io/claim/jeresig)
@jeresig

[2018-06-21 17:57] seanwarman commented on #5
@GitCash send 0.00375 bch to @jeresig because everybody loves jquery.

[2018-06-21 17:57] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/58/image.png)](https://gitcash.io/claim/jeresig)
@jeresig

[2018-06-22 12:18] seanwarman commented on #5
@GitCash send 0.0037 bch to @diracdeltas for Brave, the best browser on the web!

[2018-06-22 12:18] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/92/image.png)](https://gitcash.io/claim/diracdeltas)
@diracdeltas

[2018-06-22 18:11] deepthawtz commented on #5
@GitCash send 100000 satoshis to @melchoir55

[2018-06-22 18:11] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/96/image.png)](https://gitcash.io/claim/melchoir55)
@melchoir55

[2018-06-22 18:12] deepthawtz commented on #5
@GitCash send 100000 satoshis to @superosku

[2018-06-22 18:12] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/97/image.png)](https://gitcash.io/claim/superosku)
@superosku

[2018-06-22 18:13] deepthawtz commented on #5
@GitCash send 100000 satoshis to @SMR39

[2018-06-22 18:13] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/98/image.png)](https://gitcash.io/claim/SMR39)
@SMR39

[2018-06-22 18:22] deepthawtz commented on #5
@GitCash send 100000 satoshis to @ttolvane

[2018-06-22 18:22] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/99/image.png)](https://gitcash.io/claim/ttolvane)
@ttolvane

[2018-06-22 18:24] deepthawtz commented on #5
@GitCash send 100000 satoshis to @neelanand

[2018-06-22 18:24] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/100/image.png)](https://gitcash.io/claim/neelanand)
@neelanand

[2018-06-22 18:24] deepthawtz commented on #5
@GitCash send 100000 satoshis to @andersrex

[2018-06-22 18:24] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/101/image.png)](https://gitcash.io/claim/andersrex)
@andersrex

[2018-06-22 18:25] deepthawtz commented on #5
@GitCash send 100000 satoshis to @aleks-betterdoctor

[2018-06-22 18:25] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/102/image.png)](https://gitcash.io/claim/aleks-betterdoctor)
@aleks-betterdoctor

[2018-06-22 18:26] deepthawtz commented on #5
@GitCash send 100000 satoshis to @IiroIsotalo

[2018-06-22 18:26] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/103/image.png)](https://gitcash.io/claim/IiroIsotalo)
@IiroIsotalo

[2018-06-22 18:26] deepthawtz commented on #5
@GitCash send 100000 satoshis to @palan3n

[2018-06-22 18:26] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/104/image.png)](https://gitcash.io/claim/palan3n)
@palan3n

[2018-06-22 18:27] deepthawtz commented on #5
@GitCash send 100000 satoshis to @rubocoptero

[2018-06-22 18:27] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/105/image.png)](https://gitcash.io/claim/rubocoptero)
@rubocoptero

[2018-06-22 18:27] deepthawtz commented on #5
@GitCash send 100000 satoshis to @skogstrom

[2018-06-22 18:27] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/106/image.png)](https://gitcash.io/claim/skogstrom)
@skogstrom

[2018-06-22 18:30] deepthawtz commented on #5
@GitCash send 100000 satoshis to @paulwhitaker

[2018-06-22 18:30] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/107/image.png)](https://gitcash.io/claim/paulwhitaker)
@paulwhitaker

[2018-06-22 18:31] deepthawtz commented on #5
@GitCash send 100000 satoshis to @stevebestest

[2018-06-22 18:31] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/108/image.png)](https://gitcash.io/claim/stevebestest)
@stevebestest

[2018-06-22 18:32] deepthawtz commented on #5
@GitCash send 100000 satoshis to @sojackyso

[2018-06-22 18:32] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/109/image.png)](https://gitcash.io/claim/sojackyso)
@sojackyso

[2018-06-22 18:35] deepthawtz commented on #5
@GitCash send 100000 satoshis to @melindaheard

[2018-06-22 18:35] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/110/image.png)](https://gitcash.io/claim/melindaheard)
@melindaheard

[2018-06-22 19:04] deepthawtz commented on #5
@GitCash send 100000 satoshis to @dinkostka

[2018-06-22 19:04] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/111/image.png)](https://gitcash.io/claim/dinkostka)
@dinkostka

[2018-06-22 19:05] deepthawtz commented on #5
@GitCash send 100000 satoshis to @dinkostka

[2018-06-22 19:05] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/112/image.png)](https://gitcash.io/claim/dinkostka)
@dinkostka

[2018-06-22 19:05] deepthawtz commented on #5
@GitCash send 100000 satoshis to @nebojsa007

[2018-06-22 19:05] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/113/image.png)](https://gitcash.io/claim/nebojsa007)
@nebojsa007

[2018-06-22 19:06] deepthawtz commented on #5
@GitCash send 100000 satoshis to @sassanuv

[2018-06-22 19:06] GitCash commented on #5
[![GitCash Tip Response](https://gitcash.io/tip/pic/114/image.png)](https://gitcash.io/claim/sassanuv)
@sassanuv

[2018-06-22 20:47] alwaysAn0n commented on #4
A number of people have expressed interest in this.  Thanks for taking the time to give feedback.  I encourage others to comment in here and tell us if it's something we should build.

@GitCash send my man @Wecx .01 bch please!

[2018-06-22 20:47] GitCash commented on #4
[![GitCash Tip Response](https://gitcash.io/tip/pic/116/image.png)](https://gitcash.io/claim/Wecx)
@Wecx

[2018-06-23 04:33] tbitu opened #6 "Tipping in bits seems to give wrong text output"
As mentioned on reddit - tipped 15000 bits and the GitCash response was
"AstarothPoD sent you 15 bits in Bitcoin Cash - that's 1500000 satoshis ( ~$11.52 )

The right amount was tipped, so just a text error in the "bits" calculation it seems.

Thanks for making this fantastic GitHub functionality!

[2018-06-23 11:09] dsmurrell commented on #5
@seanwarman, thanks for the tip! Can't really find it anymore in this thread, but I seem to remember that it was you who tipped me.

[2018-06-23 11:42] seanwarman commented on #5
I seem to remember tipping you too. Don't worry, if you go to https://gitcash.io you can log in with your GitHub account and the money should be waiting for you.

[2018-06-23 12:59] dsmurrell commented on #5
@seanwarman, added GitCash to [awesome-bitcoin-cash](https://github.com/dsmurrell/awesome-bitcoin-cash/blob/master/README.md). Do you work for GitCash? Let me know if it's fine as is.

[2018-06-23 13:45] seanwarman commented on #5
Thanks @dsmurrell that's great. I'm a part of the team that developed GitCash yes.

[2018-06-27 10:40] seanwarman commented on #5
@GitCash test that 0.00010 bch @alwaysAn0n pretty please

[2018-06-27 10:40] GitCash commented on #5
Hey **alwaysAn0n**, user **seanwarman** tipped you **100 bits** in Bitcoin Cash ( ~ **$0.0714** ).

*[Click here to claim it!](https://gitcash.io/claim/alwaysAn0n)*

You can also add the :-1: reaction to **seanwarman**'s comment above to prevent future tips.

[2018-06-28 19:25] alwaysAn0n commented on #5
@GitCash send @kodaxx 10 dollars to test his new BCH wallet!

[2018-06-28 19:25] GitCash commented on #5
Hey **kodaxx**, user **alwaysAn0n** tipped you **14347 bits** in Bitcoin Cash ( ~ **$10** ).

*[Click here to claim it!](https://gitcash.io/claim/kodaxx)*

You can also add the :-1: reaction to **alwaysAn0n**'s comment above to prevent future tips.

[2018-06-28 20:14] alwaysAn0n commented on #6
This turned out to be a big in the code that generates the tip response image.  We removed the tip response image and fixed this code in our most recent release.  Thanks for your help identifying it!

@GitCash please reward @AstarothPoD with 10 dollars for being a true patriot

[2018-06-28 20:14] GitCash commented on #6
Hey **AstarothPoD**, user **alwaysAn0n** tipped you **14471 bits** in Bitcoin Cash ( ~ **$10** ).

*[Click here to claim it!](https://gitcash.io/claim/AstarothPoD)*

You can also add the :-1: reaction to **alwaysAn0n**'s comment above to prevent future tips.

[2018-07-10 02:49] #5 closed, assigned to nobody

[2018-07-10 02:50] GitCash opened #7 "Claim your tips"
In this thread: Get tipped!

[2018-07-10 02:53] alwaysAn0n commented on #7
Hey @GitCash !  Please send my new friend @PorlyBe 10 dollars for all his hard work on the BCH ecosystem!

[2018-07-10 02:53] GitCash commented on #7
Hey **PorlyBe**, user **alwaysAn0n** tipped you **13812 bits** in Bitcoin Cash ( ~ **$10** ).

*[Click here to claim it!](https://gitcash.io/claim/PorlyBe)*

You can also add the :-1: reaction to **alwaysAn0n**'s comment above to prevent future tips.

[2018-07-18 15:38] AshleyMSherwood commented on #7
Hey @GitCash Please send @chuck-g $10 for being a cool dude!

[2018-07-23 15:13] alwaysAn0n commented on #7
Yo @AshleyMSherwood .  GitCash doesn't support the dollar sign to mean US dollars.  It definitely should but in the mean time, do it like this

Hey @GitCash Please send @chuck-g 10 dollars for being a cool dude!

You can also substitute `dollars` for `usd` or `bucks` :)

[2018-07-23 15:13] GitCash commented on #7
Hey **chuck-g**, user **alwaysAn0n** tipped you **12269 bits** in Bitcoin Cash ( ~ **$10** ).

*[Click here to claim it!](https://gitcash.io/claim/chuck-g)*

You can also add the "thumbs down" reaction to **alwaysAn0n**'s comment above to prevent future tips.

[2018-07-23 15:15] AshleyMSherwood commented on #7
@alwaysAn0n That's what I was testing 👍

[2018-07-23 15:44] GitCash commented on #6
Solved!

[2018-07-23 15:44] #6 closed, assigned to nobody

[2018-07-28 00:37] PorlyBe commented on #7
I've been looking for a good place for testing this.

@GitCash send .0005 bch to @alwaysAn0n

[2018-07-28 00:37] GitCash commented on #7
Hey **alwaysAn0n**, user **PorlyBe** tipped you **500 bits** in Bitcoin Cash ( ~ **$0.41** ).

*[Click here to claim it!](https://gitcash.io/claim/alwaysAn0n)*

You can also add the "thumbs down" reaction to **PorlyBe**'s comment above to prevent future tips.

[2018-07-28 00:46] PorlyBe commented on #7
@GitCash send .0005 bch to @maplesyrupsucker

[2018-07-28 00:46] GitCash commented on #7
Hey **maplesyrupsucker**, user **PorlyBe** tipped you **500 bits** in Bitcoin Cash ( ~ **$0.4095** ).

*[Click here to claim it!](https://gitcash.io/claim/maplesyrupsucker)*

You can also add the "thumbs down" reaction to **PorlyBe**'s comment above to prevent future tips.

[2018-07-29 07:25] PorlyBe commented on #7
Can I tip myself?? @GitCash  send .0005 bch to @porlybe

[2018-07-29 07:25] GitCash commented on #7
Hey **porlybe**, user **PorlyBe** tipped you **500 bits** in Bitcoin Cash ( ~ **$0.4125** ).

*[Click here to claim it!](https://gitcash.io/claim/porlybe)*

You can also add the "thumbs down" reaction to **PorlyBe**'s comment above to prevent future tips.

[2018-08-03 12:42] PorlyBe commented on #7
@GitCash send .005 bch to @shamabe

[2018-10-31 19:20] alwaysAn0n commented on #7
@GitCash send @nilswxa 5 usd please

[2018-10-31 19:25] alwaysAn0n commented on #7
@GitCash send @nilswxa 5 bucks please

[2018-10-31 19:27] alwaysAn0n commented on #7
@GitCash send @nilswxa 2 bucks please

[2018-10-31 19:31] GitCash commented on #7
Hey **nilswxa**, user **alwaysAn0n** tipped you **4739 bits** in Bitcoin Cash ( ~ **$2** ).

*[Click here to claim it!](https://gitcash.io/claim/nilswxa)*

You can also add the "thumbs down" reaction to **alwaysAn0n**'s comment above to prevent future tips.

[2018-12-06 21:53] alwaysAn0n opened #8 "It's not breakfast without eggs"
Hey @GotCrabs send @ConsensusBot $.25 please

[2018-12-06 21:53] GotCrabs commented on #8
Hey **ConsensusBot**, user **alwaysAn0n** tipped you **2212 bits** in Bitcoin Cash ( ~ **$0.25** ).

*[Click here to claim it!](https://gitcash-staging.herokuapp.com/claim/ConsensusBot)*

You can also add the "thumbs down" reaction to **alwaysAn0n**'s comment above to prevent future tips.

[2018-12-06 22:00] alwaysAn0n commented on #8
Hey @GotCrabs send @ConsensusBot $.75 now!

[2018-12-06 22:00] GotCrabs commented on #8
Hey **ConsensusBot**, user **alwaysAn0n** tipped you **6696 bits** in Bitcoin Cash ( ~ **$0.75** ).

*[Click here to claim it!](https://gitcash-staging.herokuapp.com/claim/ConsensusBot)*

You can also add the "thumbs down" reaction to **alwaysAn0n**'s comment above to prevent future tips.

[2018-12-10 05:47] alwaysAn0n commented on #8
Hey @GotCrabs send @ConsensusBot .25 usd please

[2018-12-10 05:49] GotCrabs commented on #8
Hey **ConsensusBot**, user **alwaysAn0n** tipped you **2380 bits** in Bitcoin Cash ( ~ **$0.25** ).

*[Click here to claim it!](https://gitcash-staging.herokuapp.com/claim/ConsensusBot)*

You can also add the "thumbs down" reaction to **alwaysAn0n**'s comment above to prevent future tips.

[2018-12-10 07:35] #8 closed, assigned to nobody

[2018-12-12 23:50] emergent-reasons opened #9 ""Close and Comment" --> Seems to be missed by the bot"
Tried to give a tip [here](https://github.com/PayButton/paybutton.github.io/issues/1#issuecomment-446432101) and used "Comment and Close" button. Assuming I formatted it correctly, the bot either didn't see the comment or ignored it.

I'm going to re-open and comment on that one so the tip goes through but the link above goes directly to the comment that didn't get picked up originally.

Thanks fo

[2018-12-26 21:36] GitCash commented on #9
Thanks for pointing this out.  We will take a look and see if it's feasible to work around this edge case.

[2019-06-06 17:54] nijotz opened #10 "Your mail is full"
I was emailing to say I deposited into my account yesterday, the transaction has 6+ confirmations, and I'm still showing $0 in my Gitcash account.

[2019-06-10 16:21] nijotz commented on #10
Well, I guess it was only $10... good scam

[2019-06-10 16:21] #10 closed, assigned to nobody

[2019-06-29 03:17] zquestz opened #11 "Deposits not detected"
Hadn't used the site in a while so did a test deposit for $1. The funds are on chain, and it has already been 2 confirmations and the site still reports a 0 balance.

The deposit address was `bitcoincash:qqhy6auew7hztav4e2ncl3q5ku6atsawhu2mgy4d4k`

[2019-12-07 18:41] readcash opened #12 "Time warps"
Well, I was tipped a few minutes ago, registered and see this:

![image](https://user-images.githubusercontent.com/58006668/70379173-3a971980-193a-11ea-848e-139554cd9cb2.png)

I guess time flies.. :) But probably the clock is way off or something.

[2019-12-07 18:41] readcash commented on #12
Here's the link to the tip https://github.com/Bitcoin-com/badger/issues/215#issuecomment-562875266

[2019-12-07 18:43] readcash commented on #11
I might be affected by the same thing:

I was tipped [here](https://github.com/Bitcoin-com/badger/issues/215#issuecomment-562875266), but "You have no balance available for withdraw."

[2021-07-03 07:28] behnamsafiee opened #13 "Oh my."
We've encountered an unexpected error.
Need help with your account? Please let us know.

hi i get this error when i trying to login with git account